.menu__hero {
    margin-top: -350px;
    background-color: #fd5757;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 2rem;
  }
  
  .menu__hero-title {
    margin-top: 20px;
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }
  
  /* Mobile Responsiveness */
  @media screen and (max-width: 768px) {
    .menu__hero {
      margin-top: -150px;
      margin-left: -10px;
      height: auto;
      padding: 4rem 1rem;
      text-align: center;
    }
  
    .menu__hero-title {
      font-size: 2rem;
    }
  }
  